{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Email Verification</h2>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form method="post" action="/verification">
            <label for="verification_code">Verification Code:</label>
            <input type="text" id="verification_code" name="verification_code" required><br><br>
            <input type="hidden" name="username" value="{{ username }}">
            <button  type="submit">Verify</button>
        </form>
    </div>
    
</body>
</html>
{% endblock %}
